
img {
	width: 830px;
	justify-content: center;
	align-items: center;
}


body {
	background-color: slategrey;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

p {
	width: 65ch;
	font-size: 25px;
}


.container {
	width: 800px;
	background-color: beige;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	padding: 10px;
	border: solid 5px;
	margin: 1px;
	justify-content: left;
}

p{

